@model Shop_MVC.Models.Products.ProductsViewModel

@{
    ViewData["Title"] = "Product";
}

<div class="d-flex product-container navbar-margin">
    <div class="d-flex flex-column align-content-center border-end border-2 left-panel flex-wrap" style="border-color: lightgray">
        
        @* Kategoria *@
        <h3 class="mt-4">Category</h3>
        <div class="mt-1" style="font-size: large">
            <div>
                <input class="form-check-input my-radio" type="radio" name="categoryRadio" checked value="All">
                <label>
                    All
                </label>
            </div> 
            @foreach (var category in Model.Categories)
            {
                <div>
                    <input class="form-check-input my-radio" type="radio" name="categoryRadio" value="@((int)category)">
                    <label>
                        @category
                    </label>
                </div>
            }
        </div>

        @* Firma *@
        <h3 class="mt-4">Company</h3>
        <div class="mt-1" style="font-size: large">
            <div>
                <input class="form-check-input my-radio" type="radio" name="companyRadio" checked value="All">
                <label>
                    All
                </label>
            </div>
            @foreach (var company in Model.Companies)
            {
                <div>
                    <input class="form-check-input my-radio" type="radio" name="companyRadio" value="@((int)company)">
                    <label>
                        @company
                    </label>
                </div>
            }
        </div>

        @* Kolor *@
        <h3 class="mt-4">Colors</h3>
        <div class="mt-1" style="font-size: large">
            <div class="d-flex">
                <input class="form-check-input my-radio me-1" type="radio" name="colorRadio" checked value="All">
                <div class="border border-1 color-square-div" style="background: linear-gradient(to right, black, blue, red, green, white)"></div>
            </div>
            @foreach (var color in Model.Colors)
            {
                <div class="d-flex">
                    <input class="form-check-input my-radio me-1" type="radio" name="colorRadio" value="@((int)color)">
                    <div class="border border-1 color-square-div" style="background: @color"></div>
                </div>
            }
        </div>

    </div>

    <div class="mt-4 mb-5 mx-5 w-100">
        <div class="d-flex">
            <input id="searchTextId" type="text" class="form-control w-25" placeholder="Enter your search shoes">
            <div class="dropdown mx-4">
                <button 
                    id="sortDropdownBtn" 
                    style="width: 150px" 
                    class="btn btn-secondary dropdown-toggle d-flex justify-content-between align-items-center" 
                    type="button" 
                    data-bs-toggle="dropdown" 
                    aria-expanded="false"
                >
                    ---
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item">---</a></li>
                    <li><a class="dropdown-item">Price (Asc)</a></li>
                    <li><a class="dropdown-item">Price (Desc)</a></li>
                </ul>
            </div>
        </div>
        
        <div id="products-container">
            @await Html.PartialAsync("_ProductsPartial", Model.Products)
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/products.js"></script>
}

